logs

*.log

.DS_Store
.DS_Store/

pids
*.pid
*.seed

.vscode
.vscode/

env/
venv/
senv/
denv/

__MACOSX__/
__MACOSX__

__pycache__
__pycache__/

media
media/

*.tar
*.zip

audio/*.mp3
pdfs/*.pdf
photos/*.jpg
photos/*.png
photos/*.jpeg